@model MigrationService.Models.Application

@{
    ViewData["Title"] = "Delete Application";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>Delete Application</h2>
        </div>
        <div class="card-body">
            <h3>Are you sure you want to delete this application?</h3>
            <div>
                <dl class="row">
                    <dt class="col-sm-3">Migrant</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Migrant.FullName)</dd>

                    <dt class="col-sm-3">Officer</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Officer.FullName)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Type)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Type)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Status)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Status)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.SubmissionDate)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.SubmissionDate)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DecisionDate)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.DecisionDate)</dd>
                </dl>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ApplicationID" />
                    <button type="submit" class="btn btn-danger">
                        <i class="bi bi-trash"></i> Delete
                    </button>
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Back to List
                    </a>
                </form>
            </div>
        </div>
    </div>
</div> 