@model MigrationService.Models.Officer

@{
    ViewData["Title"] = "Officer Details";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>Officer Details</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h3>Personal Information</h3>
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FullName)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.FullName)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Position)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Position)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Email)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Login)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Login)</dd>
                    </dl>
                </div>
            </div>

            <h3 class="mt-4">Assigned Applications</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Migrant</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Submission Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var application in Model.Applications)
                        {
                            <tr>
                                <td>@application.Migrant.FullName</td>
                                <td>@application.Type</td>
                                <td>@application.Status</td>
                                <td>@application.SubmissionDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group">
                <a asp-action="Edit" asp-route-id="@Model.OfficerID" class="btn btn-primary">
                    <i class="bi bi-pencil"></i> Edit
                </a>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Back to List
                </a>
            </div>
        </div>
    </div>
</div> 